body{
    margin: 0px;
    padding: 0px;
    background-color: #F1FAFF!important;
}
.news-container {
  display: flex !important;
  flex-wrap: wrap !important;
  width: 100% !important;
  justify-content: space-evenly !important;
  
}

.news-img {
  object-fit: cover !important;
}
input{
  border: 1px solid #5DB1FF !important;
}
